---
import testImage from '../imagens/frieren-shrek.gif';
import testImage2 from '../imagens/bdsl3mm5xqqa1.jpg';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/src/imagens/icon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Túlio Lobo</title>
	</head>
	<body>
		<h1>Demorei pra fazer isso, gente. Quando ganho meu diploma?</h1>
		<img src={testImage.src} alt="some test image">
		<!-- <img src={testImage2.src} alt="some test image"> -->
	</body>
</html>
